Q1. What is a database? Differentiate between SQL and NoSQL databases.

Answer:

1. A database is a structured collection of data that is organized and stored in a way that enables efficient retrieval, updating, and management of that data. 
2. It is a crucial component in the field of information technology, serving as a repository for various types of data such as text, numbers, images, and more. 
3. Databases are commonly used in applications, websites, and systems to store and retrieve data quickly and reliably.

4. It categorized into two types: SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases.
  

* Differentiate between SQL and NoSQL databases are 

* SQL Databases:

1. Data Model: Relational (organized in tables with predefined relationships).
2. Schema: Predefined and structured.
3. Scalability: Typically scales vertically (increasing power of a single server).
4. Consistency and ACID Properties: Follows ACID properties for data integrity.
5. Use Cases: Well-suited for applications with stable, well-defined data structures.

* NoSQL Databases:

1. Data Model: Various models (document-oriented, key-value pairs, wide-column stores, graph databases).
2. Schema: Schema-less, providing flexibility to add new fields.
3. Scalability: Designed to scale horizontally (distribution across multiple servers).
4. Consistency and ACID Properties: May sacrifice some ACID properties for better performance, with a focus on eventual consistency.
5. Use Cases: Ideal for dynamic, evolving data structures, high scalability, and performance-critical applications. Examples include MongoDB, Redis, and Cassandra.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer:

1. DDL, or Data Definition Language, is a subset of SQL (Structured Query Language) that deals with the definition and structure of a database. 
2. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views. 
3. The primary DDL commands include CREATE, DROP, ALTER, and TRUNCATE.

* CREATE: Used to create new database objects like tables, indexes, or views.

#example create :

CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT
);

* DROP: Used to delete existing database objects.

#example: 

DROP TABLE Students;

* ALTER: Used to modify the structure of an existing database object, such as adding, modifying, or dropping columns in a table.

#example :

ALTER TABLE Students

ADD GPA DECIMAL(3, 2);

* TRUNCATE: Used to remove all rows from a table without removing the table itself.

#example:

TRUNCATE TABLE Students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer: 

1. DML, or Data Manipulation Language, is a subset of SQL (Structured Query Language) that deals with the manipulation of data stored in a database. 
2. DML statements are responsible for inserting, updating, and deleting data in database tables. 
3. The primary DML commands include INSERT, UPDATE, and DELETE.


* INSERT: Used to insert new records into a table.
#Example:

INSERT INTO Employees (EmployeeID, FirstName, LastName, Salary)
VALUES (1, 'John', 'Doe', 50000);

* UPDATE: Used to modify existing records in a table.
#Example:

UPDATE Employees
SET Salary = 55000
WHERE EmployeeID = 1;

* DELETE: Used to remove records from a table.
#Example:
DELETE FROM Employees
WHERE EmployeeID = 1;

4. What is DQL? Explain SELECT with an example.

Answer:

1. DQL, or Data Query Language, is a subset of SQL (Structured Query Language) that focuses on the retrieval of data from a database.
2. The primary DQL command is SELECT, which is used to query and fetch data from one or more tables.
3. SELECT allows users to specify the columns they want to retrieve, apply filtering conditions, and control the order of the result set.

* SELECT: Used to retrieve data from one or more tables in a database.

Example:

SELECT FirstName, LastName, Salary

FROM Employees

WHERE Salary > 50000

ORDER BY Salary DESC;

Q5. Explain Primary Key and Foreign Key.

Answer:
 
* Primary Key:
1. A primary key is a unique identifier for a record in a database table. 
2. It uniquely identifies each record in the table, and no two records can have the same primary key value. 
3. Additionally, a primary key column cannot have NULL values.
#Purpose:
1. Ensures data integrity by providing a unique identifier for each record.
2. Facilitates quick and efficient retrieval of data.

#example:

CREATE TABLE Students (

    StudentID INT PRIMARY KEY,
    
    FirstName VARCHAR(50),
    
    LastName VARCHAR(50)
);
In this, the StudentID column is designated as the primary key for the "Students" table.

* Foreign Key:

1. A foreign key is a column or a set of columns in a table that refers to the primary key of another table. 
2. It establishes a link between the data in two tables, creating a relationship.
#Purpose:
1. Enforces referential integrity by ensuring that values in the foreign key column correspond to existing values in the primary key column of the referenced table.
2. Facilitates the creation of relationships between tables.

#example:

CREATE TABLE Courses (

    CourseID INT PRIMARY KEY,
    
    CourseName VARCHAR(50)
);

CREATE TABLE Enrollments (

    EnrollmentID INT PRIMARY KEY,
    
    StudentID INT,
    
    CourseID INT,
    
    FOREIGN KEY (StudentID) REFERENCES Students(StudentID),
    
    FOREIGN KEY (CourseID) REFERENCES Courses(CourseID)
);

In this, the "Enrollments" table has foreign keys (StudentID and CourseID) that reference the primary keys of the "Students" and "Courses" tables, respectively

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Answer:
    
To connect MySQL to Python:
    
pip install mysql-connector-python

import mysql.connector

* cursor() Method:

The cursor() method creates a cursor object, which is used to interact with the database. A cursor is a pointer that allows you to execute SQL queries and fetch results.

* execute() Method:

The execute() method is used to execute SQL queries or commands through the cursor. It takes a SQL query as a parameter and executes it on the connected database.


* example: 

#Connect to MySQL 

connection = mysql.connector.connect(

    host="your_host",
    
    user="your_username",
    
    password="your_password",
    
    database="your_database"
)

#Create a cursor object to interact with the database

cursor = connection.cursor()

try:
    cursor.execute("SELECT * FROM your_table")

except mysql.connector.Error as err:

    print("Error: {}".format(err))

finally:

    cursor.close()
    
    connection.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

Answer: 
    
In an SQL query, the order of execution of SQL clauses follows a specific sequence. 

The typical order of execution is as follows:

1. FROM: Specifies the table or tables from which data will be retrieved. This is the first clause processed.

2. WHERE: Filters the rows based on the specified conditions in the WHERE clause. Only rows that satisfy the conditions are included in the result set.

3. GROUP BY: Groups the result set based on specified columns in the GROUP BY clause. This is used in combination with aggregate functions like COUNT, SUM, AVG, etc.

4. HAVING: Applies conditions to the groups created by the GROUP BY clause. It filters the groups based on aggregate conditions.

5. SELECT: Specifies the columns to be included in the result set. This clause is processed after the FROM, WHERE, GROUP BY, and HAVING clauses.

6. ORDER BY: Sorts the result set based on specified columns in ascending or descending order using the ORDER BY clause.

7. LIMIT/OFFSET: Used to limit the number of rows returned in the result set. The LIMIT clause is used to restrict the number of rows, and OFFSET is used to skip a specified number of rows

#example 

SELECT 

    column1, column2, ...
    
FROM

    table_name

WHERE 
    condition
    
GROUP BY 

    column1, column2, ...
    
HAVING 

    aggregate_condition
    
ORDER BY 

    column1, column2, ...
    
LIMIT 

    n
    
OFFSET 

    m;